/*#############################################################################################################################*/
/*树功能按钮组*/
#treeButtons {
    position: fixed;
    top: 15px;
    left: 15px;
}

#treeButtons > div {
    margin-bottom: 1px;
}

/*#############################################################################################################################*/
/*树空间*/
#treeSpace {
    position: absolute;
    left: 60px;
    top: 15px;
}

#treeSpace > div {
    float: left;
}

/*#############################################################################################################################*/
/*jdbcSpace*/
#jdbcSpace {
    /*width: 500px;*/
    /*height: 500px;*/
    min-width: 25vw;
    min-height: 85vh;
    position: fixed;
    right: 15px;
    top: 15px;
    border-radius: 9px;
    background-color: wheat;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


#jdbcSpace input {
    border-radius: 6px;
}


#jdbcFormInput > div {
    margin-bottom: 1px;
}

#jdbcExplore > div {
    margin-bottom: 1px;
}

/*#############################################################################################################################*/


/*#############################################################################################################################*/
/*global background-image*/
body {
    background-image: url("../images/green1920X936_V2.png");
}

/*opening animation*/
#world {
    margin: 0;
    padding: 0;
}

/*opening animation*/
#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#e4e0ba, #f7d9aa);
    z-index: -1;
}

/*#############################################################################################################################*/