div {
    border: solid red 1px;
}

div[id^="jdbc"] {
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: wheat;
}

#first {
    width: 300px;
    height: 300px;
}

#two {
    width: 200px;
    height: 200px;
}

#three {
    width: 100px;
    height: 100px;
}

#mainTree, #tips {
    width: 500px;
    /*height: 2000px;*/
}

#jdbcSpace{
    /*height: 1000px;*/
}