<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>You Found This! </title>
    <link rel="stylesheet" href="../static/framework/layui-v2.5.4/layui/css/layui.css">
    <link rel="stylesheet" href="../static/framework/font-awesome-4.7.0/css/font-awesome.css">
    <!--custom css-->
    <link rel="stylesheet" href="../static/css/index.css">
    <!--framework JavaScript-->
    <script src="../static/framework/Jquery/jquery-3.4.1.js"></script>
    <script src="../static/framework/vue/vue.js"></script>
    <script src="../static/framework/layui-v2.5.4/layui/layui.js"></script>
    <!--custom js-->
    <script src="../static/js/bootstrap.js"></script>
    <!--testing-->
    <link rel="stylesheet" href="../static/css/testing.css">
    <script src="../static/js/testing.js"></script>
</head>
<body id="body">

<!--===========================================================================================================-->
<script src="../static/js/three.min.js"></script>
<div id="world"></div>
<script src="../static/js/canvas.js"></script>
<!--===========================================================================================================-->
<!--================================================body===========================================================-->
<div id="treeSpace">
    <div id="treeButtons" style="width: 40px;">
        <div id="expandAll" title="展开全部">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
                <i class="layui-icon layui-icon-next"></i>
            </button>
        </div>
        <div id="closeAll" title="收起全部">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
                <i class="layui-icon layui-icon-prev"></i>
            </button>
        </div>
        <div id="showCategoryID" title="重新组合节点名称展示的信息">
            <button type="button" class="layui-btn layui-btn-sm">
                <i class="layui-icon layui-icon-rate"></i>
            </button>
        </div>
        <div id="treeInit" title="恢复最近">
            <button type="button" class="layui-btn layui-btn-sm">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </button>
        </div>
        <div id="cutTree" title="砍树">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-cyan">
                <i class="layui-icon layui-icon-close"></i>
            </button>
        </div>
        <!--回到顶部按钮-->
        <div id="backTop" style="display: none;">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-red">
                <i class="layui-icon layui-icon-up"></i>
            </button>
        </div>
    </div>
    <div id="mainTree"></div>
    <div id="tips"></div>
</div>
<div id="jdbcSpace">

</div>
<!--================================================body===========================================================-->
<!--交互-->
<script src="../static/js/animation.js"></script>
<!--===========================================================================================================-->
<!--VueObjects-->
<script src="../static/js/vueObjects.js"></script>
<!--===========================================================================================================-->
</body>
</html>
