<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CATSUNTREE</title>
    <link rel="stylesheet" href="../static/framework/layui-v2.5.4/layui/css/layui.css">
    <link rel="stylesheet" href="../static/framework/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/framework/zTree_v3-master/css/zTreeStyle/zTreeStyle.css">
    <!--custom css-->
    <link rel="stylesheet" href="../static/css/index.css">
    <!--framework JavaScript-->
    <script src="../static/framework/Jquery/jquery-3.4.1.js"></script>
    <script src="../static/framework/vue/vue.js"></script>
    <script src="../static/framework/layui-v2.5.4/layui/layui.js"></script>
    <script src="../static/framework/zTree_v3-master/js/jquery.ztree.all.js"></script>
    <!--custom js-->
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/businessAnimation.js"></script>
    <!--testing-->
    <!--<link rel="stylesheet" href="../static/css/testing.css">-->
    <script src="../static/js/testing.js"></script>
</head>
<body id="body">
<!--===========================================================================================================-->
<!--<script src="../static/js/three.min.js"></script>-->
<!--<div id="world"></div>-->
<!--<script src="../static/js/canvas.js"></script>-->
<!--===========================================================================================================-->
<!--================================================body===========================================================-->
<div id="treeButtons" style="width: 40px;display: none;">
    <div id="expandAll" title="展开全部">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
            <i class="layui-icon layui-icon-next"></i>
        </button>
    </div>
    <div id="closeAll" title="收起全部">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-orange">
            <i class="layui-icon layui-icon-prev"></i>
        </button>
    </div>
    <div id="showCategoryID" title="重新组合节点名称展示的信息">
        <button type="button" class="layui-btn layui-btn-sm">
            <i class="layui-icon layui-icon-rate"></i>
        </button>
    </div>
    <div id="treeInit" title="恢复最近">
        <button type="button" class="layui-btn layui-btn-sm">
            <i class="layui-icon layui-icon-refresh-3"></i>
        </button>
    </div>
    <div id="cutTree" title="砍树">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-cyan">
            <i class="layui-icon layui-icon-close"></i>
        </button>
    </div>
    <!--回到顶部按钮-->
    <div id="backTop" style="display: none;">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-red">
            <i class="layui-icon layui-icon-up"></i>
        </button>
    </div>
</div>
<div id="treeSpace" style="display:none;">
    <!--主要的树-->
    <div id="mainTreeSpace" style="background-color: #ecece5">
        <ul id="mainTree" class="ztree"></ul>
    </div>
    <!--信息区-->
    <div></div>
    <div id="tips" style="padding: 5px;background-color: wheat;border-radius: 4px;min-width: 450px;max-width: 500px;">
        <!--手风琴展示 lay-accordion:开启手风琴-->
        <div class="layui-collapse" lay-accordion>
            <div class="layui-colla-item" id="accordionPart1">
                <h2 class="layui-colla-title"><i class="fa fa-tags"></i>&nbsp;提交记录</h2>
                <div class="layui-colla-content">
                    <div id="result_path01">
                        <p><span>提交时间：</span>{{all.commitInfo.commitTime}}</p>
                        <p><span>url：</span>{{all.commitInfo.url}}</p>
                        <p><span>dbname：</span>{{all.commitInfo.dbname}}</p>
                        <p><span>parameter：</span>{{all.commitInfo.parameter}}</p>
                        <p><span>username：</span>{{all.commitInfo.username}}</p>
                        <p><span>password：</span>{{all.commitInfo.password}}</p>
                        <p><span>sql：</span>{{all.commitInfo.sql}}</p>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item" id="accordionPart2">
                <h2 class="layui-colla-title"><i class="fa fa-registered"></i>&nbsp;返回信息</h2>
                <div class="layui-colla-content">
                    <div id="result_path02">
                        <p><span>返回时间：</span>{{all.resultTime}}</p>
                        <p><span>状态：</span>{{all.status}}</p>
                        <p><span>信息：</span>{{all.msg}}</p>
                        <p><span>查询完成时间：</span>{{all.result.queryFinishDate}}</p>
                        <p><span>tableName：</span>{{all.result.tableName}}</p>
                        <p><span>columnCount：</span>{{all.result.columnCount}}</p>
                        <p><span>字段：</span>{{all.result.columnFields.join(',')}}</p>
                        <p><span>数据量：</span>{{all.result.list.length}}</p>
                    </div>
                    <!--尝试将数据打印至控制台打印-->
                    <button id="showInConsole" type="button" class="layui-btn layui-btn-xs">
                        <i id="showInConsole_i" class="fa fa-print">&nbsp;console.log</i>
                    </button>
                </div>
            </div>
            <div class="layui-colla-item" id="accordionPart3">
                <h2 class="layui-colla-title"><i class="fa fa-gear fa-spin"></i>&nbsp;树形菜单配置</h2>
                <div class="layui-colla-content">
                    <p><i class="fa fa-calendar-check-o"></i>&nbsp;选择配置:</p>
                    <!--选择字段区-->
                    <div id="result_path03">
                        <form class="layui-form" action="" lay-filter="columnForm">
                            <!--选择栏目id-->
                            <div class="layui-form-item" id="selectCid_father">
                                <div class="layui-form-mid layui-word-aux"><i class="fa fa-meh-o"></i>&nbsp;将</div>
                                <div class="layui-input-inline">
                                    <select lay-verify="required" id="selectCid">
                                        <option value=""></option>
                                        <option v-for="fieldName in all.result.columnFields" :value="fieldName">{{fieldName}}</option>
                                    </select>
                                </div>
                                <div id="selectCid_forTips" class="layui-form-mid layui-word-aux">作为栏目ID</div>
                            </div>
                            <!--选择父栏目id-->
                            <div class="layui-form-item" id="selectPCid_father">
                                <div class="layui-form-mid layui-word-aux"><i class="fa fa-meh-o"></i>&nbsp;将</div>
                                <div class="layui-input-inline">
                                    <select lay-verify="required" id="selectPCid">
                                        <option value=""></option>
                                        <option v-for="fieldName in all.result.columnFields" v-bind:value="fieldName">{{fieldName}}</option>
                                    </select>
                                </div>
                                <div id="selectPCid_forTips" class="layui-form-mid layui-word-aux">作为父栏目ID</div>
                            </div>
                            <!--选择栏目名称-->
                            <div class="layui-form-item" id="selectCname_father">
                                <div class="layui-form-mid layui-word-aux"><i class="fa fa-meh-o"></i>&nbsp;将</div>
                                <div class="layui-input-inline">
                                    <select lay-verify="required" id="selectCname">
                                        <option value=""></option>
                                        <option v-for="fieldName in all.result.columnFields" :value="fieldName">{{fieldName}}</option>
                                    </select>
                                </div>
                                <div id="selectCname_forTips" class="layui-form-mid layui-word-aux">作为栏目名称</div>
                            </div>
                        </form>
                    </div>
                    <!--种树-->
                    <div style="text-align: right;">
                        <button id="buildTree" type="button" class="layui-btn layui-btn-sm layui-anim">
                            <i id="buildTree_i" class="fa fa-tree"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="jdbcSpace" style="display:none;">
    <!--decoration-->
    <div id="eggs_reloadProperties" style="float: right;"><i class="fa fa-wifi"></i>&nbsp;<i class="fa fa-battery"></i></div>
    <!--choose inputStyle from two ways-->
    <div id="jdbcInputStyle" style="text-align: center;">
        <div id="useSelect" title="使用预设JDBC组合" style="display: inline-block; ">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-cyan" style="width: 3vw;min-width: 74px;">
                <i class="layui-icon layui-icon-prev"></i>&nbsp;<i class="fa fa-puzzle-piece fa-2x;"></i>
            </button>
        </div>
        <div id="useConnection" title="探索服务器" style="display: inline-block;">
            <button type="button" class="layui-btn layui-btn-sm layui-bg-red" style="width: 13vw;min-width: 50px">
                </i><i class="fa fa-server fa-2x;"></i>&nbsp;<i class="layui-icon layui-icon-next"></i>
            </button>
        </div>
    </div>
    <!--两种具体的方式-->
    <div id="jdbcSpaceInput">
        <!--第一种-->
        <div id="jdbcFormInputSpace" style="display: none;">
            <form id="jdbcFormInput" class="layui-form layui-form-pane" action="" style="text-align: center">
                <p><i class="fa fa-paw"></i>你可以灵活选择JDBC配置</p>
                <p>(在属性文件中添加你常用的元素)</p>
                <div class="layui-form-item" id="wayOne01_tips">
                    <label class="layui-form-label"><i class="fa fa-paper-plane"></i>&nbsp;url</label>
                    <div class="layui-input-block" id="select_a1">
                        <select id="url" name="url" lay-verify="required" lay-search lay-filter="wayOne01">
                            <option value=""></option>
                            <option v-for="todo in urlArray" :value="todo.url">{{todo.url}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="wayOne02_tips">
                    <label class="layui-form-label"><i class="fa fa-database"></i>&nbsp;dbname</label>
                    <div class="layui-input-block" id="select_a2">
                        <select id="dbname" name="dbname" lay-verify="required" lay-search lay-filter="wayOne02">
                            <option value=""></option>
                            <option v-for="todo in dbnameArray" :value="todo.dbname">{{todo.dbname}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="wayOne03_tips">
                    <label class="layui-form-label"><i class="fa fa-asterisk fa-spin"></i>parameter</label>
                    <div class="layui-input-block" id="select_a3">
                        <select id="parameter" name="parameter" lay-verify="required" lay-search lay-filter="wayOne03">
                            <option value=""></option>
                            <option v-for="todo in parameterArray" :value="todo.parameter">{{todo.parameter}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="wayOne04_tips">
                    <label class="layui-form-label"><i class="fa fa-user"></i>&nbsp;username</label>
                    <div class="layui-input-block" id="select_a4">
                        <select id="username" name="username" lay-verify="required" lay-search lay-filter="wayOne04">
                            <option value=""></option>
                            <option v-for="todo in usernameArray" :value="todo.username">{{todo.username}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="wayOne05_tips">
                    <label class="layui-form-label"><i class="fa fa-coffee"></i>password</label>
                    <div class="layui-input-block" id="select_a5">
                        <select id="password" name="password" lay-verify="required" lay-search lay-filter="wayOne05">
                            <option value=""></option>
                            <option v-for="todo in passwordArray" :value="todo.password">{{todo.password}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="wayOne06_tips">
                    <label class="layui-form-label"><i class="fa fa-cloud"></i>&nbsp;sql</label>
                    <div class="layui-input-block" id="select_a6">
                        <select id="sql" name="sql" lay-verify="required" lay-search lay-filter="wayOne06">
                            <option value=""></option>
                            <option v-for="todo in sqlArray" :value="todo.sql">{{todo.sql}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!--第二种-->
        <div id="jdbcExploreSpace">
            <form id="jdbcExplore" class="layui-form layui-form-pane" action="" style="text-align: center" lay-filter="formDB">
                <p>你可以直接探索服务器、动态加载&nbsp;<i class="fa fa-mouse-pointer"></i></p>
                <p>(在属性文件中预设更多服务器)</p>
                <div class="layui-form-item" id="jdbcPreset_Tips">
                    <label class="layui-form-label" title="选择一组配置"><i class="fa fa-cog fa-spin fa-2x"></i></label>
                    <div class="layui-input-block" id="select_a7">
                        <select id="jdbcPreset" name="jdbcPreset" lay-verify="required" lay-search lay-filter="FilterServices">
                            <option value=""></option>
                            <option v-for="todo in services" :value="todo.servicename">{{todo.servicename}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="databases_Tips">
                    <label class="layui-form-label"><i class="fa fa-database fa-lg"></i></label>
                    <div class="layui-input-block">
                        <select id="databases" name="databases" lay-verify="required" lay-search lay-filter="FilterDatabases">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="tables_Tips">
                    <label class="layui-form-label"><i class="fa fa-table fa-lg"></i></label>
                    <div class="layui-input-block">
                        <select id="tables" name="tables" lay-verify="required" lay-search lay-filter="FilterTables">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="hideOrShow" title="显示或隐藏快捷输入区">
        <button type="button" class="layui-btn layui-btn-fluid"><i id="hideOrShow_i" class="fa fa-compress"></i></button>
    </div>
    <div style="text-align: center"><span><i title="The next content will be final commit！" class="fa fa-bar-chart fa-3x"></i>&nbsp;预览</span>
    </div>
    <!--预览及最终提交的内容区-->
    <div id="jdbcSpacePrepare">
        <input id="jdbcPram01" type="text" class="layui-input" placeholder="url" v-model:value="all.url">
        <input id="jdbcPram02" type="text" class="layui-input" placeholder="dbname" v-model:value="all.dbname">
        <input id="jdbcPram03" type="text" class="layui-input" placeholder="parameter" v-model:value="all.parameter">
        <input id="jdbcPram04" type="text" class="layui-input" placeholder="username" v-model:value="all.username">
        <input id="jdbcPram05" type="text" class="layui-input" placeholder="password" v-model:value="all.password">
        <input id="jdbcPram06" type="text" class="layui-input" placeholder="sql" v-model:value="all.sql">
    </div>
    <!--function button for preview-->
    <div style="text-align: center;margin-top: 3px;">
        <span id="history"
              title="As long as non-null validation passes,All submissions will be recorded Whether the server responds or not">
            <i class="fa fa-history" style="color: blue;"></i>查询历史
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="useExampleJDBC"><i class="fa fa-usb" style="color: blue;"></i>使用示例</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="emptyJDBC" style="color: red;"><i class="fa fa-trash"></i>清空</span>
    </div>
    <div style="height: 2vh;">
        <!--just take some height-->
    </div>
    <!--JDBC commit button-->
    <div style="text-align: center;margin-top: 3px;" id="jdbcCommitStatus" v-bind:name="status">
        <i id="search" class="fa fa-3x fa-search" style="color: blue;" v-if="searchSeen"></i>
        <i id="searching" class="fa fa-spinner fa-pulse fa-5x" v-if="searchingSeen"></i>
        <i id="searchSuccess" class="fa fa-check fa-5x" v-if="searchSuccessSeen" style="color: #d91812"></i>
        <i id="searchWarning" class="fa fa-warning fa-5x" v-if="searchWarningSeen" style="color: red;"></i>
    </div>
</div>
<!--================================================body===========================================================-->
<!--===========================================================================================================-->
<!--functionButtons:share-->
<div style="position: fixed;bottom: 10px;right: 15px;" class="fontAnimation" id="share">
    <a href="https://github.com/MajorTooooom/catsuntree" title="Give me some advice." target="_blank">
        <i title="GitHub" class="fa fa-github" style="color: wheat"></i></a>
    <a href="https://gitee.com/Dororo9102/catsuntree" title="完善中..." target="_blank"><i class="fa fa-git" style="color: wheat"></i></a>
    <i title="微信" class="fa fa-wechat " style="color: wheat"></i>
    <i title="Twitter" class="fa fa-twitter " style="color: wheat"></i>
    <i title="微博" class="fa fa-tencent-weibo " style="color: wheat"></i>
    <i title="2414566866@qq.com" class="fa fa-envelope " style="color: wheat"></i>
    <i title="QQ" class="fa fa-qq " style="color: wheat"></i>
</div>
<!--functionButtons:bottomRemind-->
<div style="position: fixed;bottom: 10px;left: 15px;" class="fontAnimation">
    <i title="You found the bottom ~    w(ﾟДﾟ)w" class="fa fa-chevron-up" style="color: wheat"></i>
</div>
<!--functionButtons:show or Hide JDBCboard-->
<div style="position: fixed;top: 270px;right: 1px;color: wheat;display:none;z-index: 100;" id="JDBCBoardHide">
    <i class="fa fa-chevron-right fa-3x"></i>
</div>
<div style="position: fixed;top: 270px;right: 1px;color: wheat; display: none;z-index: 100;" id="JDBCBoardShow">
    <i class="fa fa-chevron-left fa-3x"></i>
</div>
<!--===========================================================================================================-->
<!--iframe cat-->
<div id="iframeCat" style="position: fixed;bottom: 2px;right: 260px; z-index: 20191016;">
    <audio id="voice" src="../static/other/catS.wav"></audio>
    <!--<iframe src="https://zhanyuzhang.github.io/lovely-cat/cat.html" frameborder="0"></iframe>-->
    <iframe src="/cat" frameborder="0" style="width: 227px;height: 160px;"></iframe>
</div>
<!--===========================================================================================================-->
<!--animation-->
<script src="../static/js/animation.js"></script>
<!--===========================================================================================================-->
<!--VueObjects-->
<script src="../static/js/vueObjects.js"></script>
<!--===========================================================================================================-->
</body>
</html>
