<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JDBCCommitHistory</title>
    <link rel="stylesheet" href="../static/framework/layui-v2.5.4/layui/css/layui.css">
    <script src="../static/framework/layui-v2.5.4/layui/layui.js"></script>
    <script src="../static/framework/vue/vue.js"></script>
    <script src="../static/framework/Jquery/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../static/framework/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div style="padding: 25px;" id="historyList">
    <div style="text-align: center;">
        <i class="fa fa-history"></i><span>曾点击查询的记录会显示在这里</span>
    </div>
    <hr class="layui-bg-orange">
    <ul class="layui-timeline">
        <li v-for="map in AllLists" class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{{map.commitTime}}</h3>
                <p>{{map.url}}</p>
                <p>{{map.dbname}}</p>
                <p>{{map.parameter}}</p>
                <p>{{map.username}}</p>
                <p>{{map.password}}</p>
                <p>{{map.sql}}</p>
                <button type="button" class="layui-btn layui-btn-xs useJDBC">使用此配置</button>
            </div>
        </li>
    </ul>
    <hr class="layui-bg-orange">
    <p style="text-align: center;"><i class="fa fa-chevron-up"></i><sapn>End</sapn></p>
</div>
<script type="text/javascript">
    //接收父页面传递的所有历史记录
    var historyList = new Vue({
        el: "#historyList",
        data: {
            AllLists: []
        }
    });
    $(function () {
        $(".useJDBC").click(function () {
            //取出对应的属性，组装JDBC对象，返回给父页面
            var url = $(this).parent().children('p')[0].innerHTML;
            var dbname = $(this).parent().children('p')[1].innerHTML;
            var parameter = $(this).parent().children('p')[2].innerHTML;
            var username = $(this).parent().children('p')[3].innerHTML;
            var password = $(this).parent().children('p')[4].innerHTML;
            var sql = $(this).parent().children('p')[5].innerHTML;
            //组装
            var tempJSON = {
                url: url,
                dbname: dbname,
                parameter: parameter,
                username: username,
                password: password,
                sql: sql
            };
            //调用父层的填充方法
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            window.parent.filljdbcSpacePrepareSpace(tempJSON);//调用父层的填充方法
            parent.layer.close(index); //再执行关闭
        });
    });
</script>
</body>
</html>